* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: url("./img/173.png")
}

.card {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 180px;
    padding: 40px;
    border-radius: 25px;
    background-color: #141414; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000000;
    text-align: center;
}

.card h1 {
    color: rgb(255, 255, 255);
}

.social-buttons {
    margin-top: 30px;
}

.social-buttons a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #303030;
    transition: background-color 0.3s;
    position: relative; /* Position relative pour les tooltips */
}

.social-buttons a:hover {
    background-color: #707070;
}